<div id="wrapper">
    <%= render "layouts/flash" %>

    <div id="user_information_edit">
        <div id="side_contents">
        </div>

        <div id="main_contents_edit">
            <% @user.errors.full_messages.each do |message| %>
                <p><%= message %></p>
            <% end %>

            <%= form_tag(user_path, method: :put, multipart: true) do %>
                <div class="section">
                    <p class="title">アカウント設定</p>
                    <table>
                        <tr>
                            <th>メールアドレス</th>
                            <td><input name="email" value="<%= @user.email %>"></td>
                        </tr>
                        <tr>
                            <th>パスワード</th>
                            <td><input name="password" type="password" placeholder="変更する場合のみ入力してください"></td>
                        </tr>
                        <tr>
                            <th>性別</th>
                            <td>
                                <ul id="sex_check">
                                    <li><input name="sex[]" type="radio" value="1" class="check_input">男</li>
                                    <li><input name="sex[]" type="radio" value="2" class="check_input">女</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>電話番号</th>
                            <td><input name="tel" type="tel" placeholder="変更する場合のみ入力してください"><%= @user.tel %></td>
                        </tr>
                    </table>
                </div>

                <div class="section">
                    <p class="title">公開プロフィール</p>
                    <table>
                        <tr>
                            <th>アカウント名</th>
                            <td><input name="name" value="<%= @user.name %>"></td>
                        </tr>
                        <tr>
                            <th>プロフィール画像</th>
                            <td><label for="profile_img">プロフィール画像を変更<input id="profile_img" name="image_name" type="file" class="image_update_input"></label></td>
                        </tr>
                        <tr>
                            <th>カバー画像</th>
                            <td><label for="cover_img">カバー画像を変更<input id="cover_img" name="visual_image_name" type="file" class="image_update_input"></label></td>
                        </tr>
                        <tr>
                            <th>自己紹介</th>
                            <td><textarea name="profile"><%= @user.profile %></textarea></td>
                        </tr>
                    </table>
                </div>

                <div id="input_submit">
                    <input type="submit" value="保存">
                </div>
            <% end %>
        </div>
    </div>
</div>