<div id="wrapper">
    <%= render "layouts/flash" %>
    
    <div id="page_body">
        <div id="main_contents_result">
            <p class="title here">レシピ検索</p>
            <div id="search_recipe_list">
                <% if @posts.blank? %>
                    <p>検索条件に該当するレシピは見つかりませんでした。</p>
                <% else %>
                    <ul>
                        <% @posts.each_with_index do |post, num| %>
                            <li id="search_<%= num + 1 %>">
                                <div class="recipe_img">
                                    <%= link_to image_tag("/recipe_images/#{post.recipe_image_name}"),"/posts/#{post.id}" %>
                                </div>
                                <div class="recipe_title">
                                    <%= link_to(post.recipe_title,"/posts/#{post.id}") %>
                                </div>
                            </li>
                        <% end %>
                    </ul>
                <% end %>
            </div>

            <div id="popular_searches">
            </div>
        </div>

        <div id="side_contents">
            <div id="sponsor">
            </div>

            <div id="popular_keyword">
                <p class="sub_title">人気キーワード</p>
                <ul>
                    <% @keyword_search_count.each do |keyword, num| %>
                        <li class="keyword"><%= link_to(keyword, "/keyword/#{keyword}") %></li>
                    <% end %>
                </ul>

            </div>

        </div>
    </div>
</div>