<div id="wrapper">
    <%= render "layouts/flash" %>
    
    <div id="page_body">
        <div id="main_contents_qa">
            <div class="section">
                <div class="question">
                <p class="question_title"><i class="fas fa-question-circle"></i>Yahoo!ブログへの掲載方法</p>
                </div>    
                <div class="answer">
                    <p>レシピクリップにログイン後、画面右上のユーザー名をクリックし、MYブログをクリックしてください。MYブログのプロフィールページに移動したら、レシピクリップのバナーの上で右クリックし、名前をつけて画像を保存を選択します。</p>
                    <p><%= image_tag("yahoo_01.jpg") %></p>
                    <p>デスクトップなど、任意の場所に画像を保存します。</p>
                    <p><%= image_tag("yahoo_02.jpg") %></p>

                    <p class="sub_title">バナーコードの貼り付け</p>
                    <p>yahoo！ブログのブログを書くをクリックし、投稿画面に移動します。<br>かんたんモードを選択し、赤枠内の山のアイコンをクリックします。</p>
                    <p><%= image_tag("yahoo_03.jpg") %></p>

                    <p>参照ボタンをクリックし、ファイルの選択画面で先ほどデスクトップに保存しておいたバナー画像を選択します。続けてOKボタンをクリックします。</p>
                    <p><%= image_tag("yahoo_04.jpg") %></p>

                    <p>「http://」と書かれたリンク挿入のアイコンをクリックし、ハイパーリンク画面を表示させます。</p>
                    <p><%= image_tag("yahoo_05.jpg") %></p>

                    <p>ハイパーリンク画面内のURLに下記の赤枠の箇所のみを抜き取って入力してください。<br>「http://localhost:3000/blog/~省略~/in」</p>
                    <p><%= image_tag("yahoo_06.jpg") %></p>
                    <p>入力した後に決定ボタンをクリックしたら完成です。<br>ページを表示してバナーが表示されていることを確認しましょう。</p>
                </div>
            </div>
        </div>

        <div id="side_contents">
            <div id="sponsor">
            </div>
        </div>
    </div>
</div>
