<!DOCTYPE html>
<html>
  <head>
    <title>レシピクリップ - RecipeClip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="/assets/small_home" media="screen and (mix-width:480px)" />
    <link rel="stylesheet" href="/assets/small_base" media="screen and (mix-width:480px)" />

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.min.css">
  </head>

  <body class="<%= "#{controller.controller_name}" %>">
  <%= render "layouts/header" %>

  <%= yield %>

  <%= render "layouts/footer" %>
  </body>
</html>
