<!DOCTYPE html>
<html>
  <head>
    <title>レシピクリップ - RecipeClip｜わたしのお気に入り料理レシピをクリップしよう</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'screen and (min-width:1024px)', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'carousel', media: 'all' %>
    <%= stylesheet_link_tag 'small_home', media: 'only screen and (max-width:480px)' %>
    <%= stylesheet_link_tag 'small_base', media: 'only screen and (max-width:480px)' %>

    <%= stylesheet_link_tag 'middle_home', media: 'only screen and (max-width:1023px) and (min-width: 481px)' %>
    <%= stylesheet_link_tag 'middle_base', media: 'only screen and (max-width:1023px) and (min-width: 481px)' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.min.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'carousel', 'data-turbolinks-track': 'reload' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
    $(function(){
        $(".menu").click(function(){
            $(".menu1").toggleClass("menuclick1")
        });
        $(".menu").click(function(){
            $(".menu2").toggleClass("menuclick2")
        });
        $(".menu").click(function(){
            $(".menu3").toggleClass("menuclick3")
        }); 
    });
    </script>
    <script>
    jQuery(function($){
      $('.menu').click(function(){
        if ($('#sub_nav').css('display') == 'none') {
          $('#sub_nav').slideDown('fast');
        } else {
          $('#sub_nav').slideUp('fast');
        }
      });
    });
    </script>
  </head>

  <body class="<%= "#{controller.controller_name}" %>">
  <%= render "layouts/header" %>

  <%= yield %>
  
  <%= render "layouts/footer" %>
  </body>
</html>
